{% extends 'temp_app/base.html' %}

{% block content %}
	<!-- if user is logged in show rooms if not direct them to login -->
	{% if user.is_authenticated %}
		<h1 class='title'>Hello {{user.first_name}} </h1>
		<h4>Your Rooms</h4>

		{% if rooms_list %}
		<ul>
			{% for room in rooms_list %}

			<li>{{room.nickname}
				<li>Temperature: {{ room.temperature}}</li>
				<li>Humidity: {{room.humidity}}</li>
      		</li>
      		{% endfor %}
		</ul>
			}
		{% else %}
			<p>You have no rooms connected yet</p>
			<button><a href="{% url 'add_room' %}">ADD A ROOM</a></button>
		{% endif %}

	{% else %}
		<h1 class='title'>Please Login</h1>
		<button style="text-transform: uppercase;"><a href="{% url 'social:begin' 'google-oauth2' %}">Log In with Google</a></button>
	{% endif %}
{% endblock %}